<footer class="bg-success text-white d-flex mt-5">
  <h2 class="text-white align-middle mx-auto mt-3 font-weight-bold">
    KaJaJa
  </h2>
  <div class="icon-container mx-auto mt-4">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
  </div>
</footer>
