<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/searchBar.css" type="text/css" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/navbar_responsive.js"></script>
    <script
      type="text/javascript"
      src="/scripts/category_responsive.js"
    ></script>
  </head>

  <body>
    <div class="columns is-vcentered mt-0" id="search-container">
      <div class="column is-6">
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>
      <div class="column">
        <div class="dropdown" id="category-dropdown">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
            >
              <span>Categories</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item">
                Arts & Crafts
              </a>
              <a href="#" class="dropdown-item">
                Books
              </a>
              <a class="dropdown-item">
                Bicyicles
              </a>
              <a class="dropdown-item">
                Elecronics
              </a>
              <a class="dropdown-item">
                Furniture
              </a>
            </div>
          </div>
        </div>
        <a href="#">
          <button class="button">Search</button>
        </a>
      </div>
    </div>
  </body>
</html>
