<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/bulma.sass"
    /> -->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/searchBar.css" type="text/css" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/navbar_responsive.js"></script>
    <script
      type="text/javascript"
      src="/scripts/category_responsive.js"
    ></script>
  </head>

  <body>
    <%- include("partials/_navbar") %> <%- include("partials/_searchBar") %>
    <h1>THIS IS THE CREATE LISTING PAGE</h1>
    <form method="POST" action="/api/widgets/create-listing">
      <div class="form-group col-auto">
        <label for="form_title">Title</label>
        <textarea type="text" class="form-control" name="title" id="form_title"></textarea>
        <small id="titleHelp" class="form-text text-muted">Maximum of 150 characters</small>
      </div>
      <div class="col-auto">
          <label for="form_category">Preference</label>
          <select class="custom-select" name="category" id="form_category">
            <option selected>Categories...</option>
            <option value="car">Car</option>
            <option value="furniture">Furniture</option>
            <option value="bicycles">Bicycle</option>
          </select>
       </div>

      <fieldset class="form-group col-auto">
        <div class="row">
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isTrade" id="sellOrTrade1" value="false" checked>
              <label class="form-check-label" for="sellOrTrade">
                I want to sell
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isTrade" id="sellOrTrade2" value="true">
              <label class="form-check-label" for="sellOrTrade">
                I want to trade
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group col-auto">
        <label for="form_price">Price</label>
      <input type='number' name="price" value="0.0">
      </div>

       <div class="form-group col-auto">
        <label for="form_description">Description</label>
        <textarea type="text" class="form-control" name="description" id="form_description"></textarea>
        <small id="titleHelp" class="form-text text-muted">Maximum of 1000 characters</small>
       </div>

      <div class="form-row col-auto">
        <div class="col-md-6 mb-3 ">
          <label for="form_city">City</label>
          <input type="text" class="form-control is-invalid" id="form_city" name="city" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="form_province">Province</label>
          <select class="custom-select is-invalid" id="form_province" name="province" required>
            <option selected disabled value="">Choose...</option>
            <option>Quebec</option>
            <option>Ontario</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="form_postal_code">Zip</label>
          <input type="text" class="form-control is-invalid" name="postal_code" id="form_postal_code" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
          <label class="form-check-label" for="invalidCheck3">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Post my ad</button>
    </form>
  </body>
</html>
