#all-messages {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  a {
    text-decoration: none;
    color: black;
  }
  .card {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 7rem;
    font-size: 0.8rem;
    border: 2px solid #02894b;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .header-left {
    margin: 0;
  }

  .header-left > * {
    font-weight: bold;
  }

  .header-right {
    display: flex;
  }

  .header-right > * {
    margin-right: 0.5rem;
  }
  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.75rem;
    max-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17rem;
    white-space: nowrap;
  }
}

#my-messages-title {
  h1 {
    text-align: center;
  }
}

a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  #all-messages {
    p {
      max-width: 25rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #all-messages {
    p {
      max-width: 35rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #all-messages {
    p {
      max-width: 45rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #all-messages {
    p {
      max-width: 60rem;
    }
  }
}
