.listing-link {
  text-decoration: none;
}
#all-listings {
  color: black;
  .container {
    border: 2px solid lightgray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
  }

  .img-container {
    text-align: center;
  }
  .listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;

    .listing-header-right {
      display: flex;
      align-items: center;

      button {
        margin-left: 1rem;
      }
    }

    h3 {
      color: black;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  .listing-content {
    padding: 0;
    margin-left: 0;
    position: relative;
  }

  .listing-body {
    margin-top: 1rem;
  }

  p {
    color: black;
    font-size: 0.75rem;
    max-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17rem;
    white-space: nowrap;
  }

  img {
    object-fit: cover;
  }

  a:hover {
    text-decoration: none;
  }
}

div.container:hover {
  border: 2px solid blue;
}

@media only screen and (min-width: 600px) {
  #all-listings {
    p {
      max-width: 25rem;
    }
  }
  .listing-footer {
    div {
      font-size: 0.8rem;
      padding: 0.25rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #all-listings {
    .listing-body {
      margin-top: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
      max-width: 35rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #all-listings {
    p {
      max-width: 40rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #all-listings {
    p {
      max-width: 60rem;
    }
  }
}
