.navbar {
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    color: #02894b !important;
  }

  .nav-item {
    a {
      color: #02894b !important;
    }
  }

  #navbar-right-header {
    font-size: 1.85rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    a {
      margin-right: 1.25rem;
    }
  }

  .btn {
    color: #ffffff;
  }
  button {
    color: #ffffff;
  }
}
