@import "node_modules/bulma/sass/utilities/initial-variables.sass";

// $navbar-background-color: #36d6e7;
$navbar-item-color: #ffffff;
$navbar-burger-color: #ffffff;
$navbar-breakpoint: $tablet;

.navbar {
  // background-color: $navbar-background-color;

  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    align-items: center;
    color: #02894b !important;
  }

  .nav-item {
    a {
      color: #02894b !important;
    }
  }

  .btn {
    color: #ffffff;
  }
  span {
    color: #ffffff;
  }
}
