#all-listings {
  padding-bottom: 5rem;
}

#profile-header-container {
  .top-stripe {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 50px;
      margin-top: -3em;
      border: 1px solid black;
    }
  }

  .middle-stripe {
    display: flex;
    text-align: center;
    div {
      width: 100%;
    }
  }
  .lower-stripe {
    display: flex;
    div {
      width: 100%;
      margin-top: 2em;
      text-align: center;
      border-bottom: 1px solid grey;
    }
    div:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
}

.container {
  button {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .edit-listing-buttons {
    margin-top: 1rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    .edit-listing-buttons {
      justify-content: flex-end;
    }
  }
}
